---
layout: page
title: Get Involved
---

<h2 id="wanna-set-this-budget-ablaze-">Wanna set this budget ablaze?</h2>
<p>As an individual or organization, you can reach us through our social media or email us at: <a
    href="{{site.social-media.email.href}}{{site.social-media.email.id}}">{{site.social-media.email.id}}</a> to aid in research, website creation, coalition building, advertising etc.</p>
{%comment%} This pulls the email from the _config.yml file, edit it there {%endcomment%}

<h3>Connect With Us</h3>
{%- include social-media.html -%}
<h3>Sharables</h3>

{% include image-gallery.html folder="public/images/shares" %}
{% include image-gallery.html folder="public/images/wrapped2021" %}